@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@600&display=swap');

* {
  font-family: 'Quicksand', sans-serif;
}

.App {
  text-align: center;
}

#map {
  height: 400px;
  width: 95%;
  border-radius: 12px;
  margin:0 auto;
  margin-bottom: 20px;
}

body {
  background-color: #181818;
  color: white;
}
